<!doctype html>
<html lang="en">
  <head data-th-replace="fragments/header :: copy">
    <title></title>
  </head>
  <body>
  <nav data-th-replace="fragments/navigation :: copy"></nav>

  <div class="container">
    <h1>Employees (JavaScript)</h1>
    <button type="button" class="btn btn-primary btn-sm" id="new-employee-button" data-toggle="modal" data-target="#employee-create-dialog">
      New Employee
    </button>

    <table id="employee-table" class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">eMail</th>
        <th scope="col">Date of birth</th>
        <th scope="col">Team</th>
        <th scope="col">Job</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody id="employee-data">
      </tbody>
    </table>

    <div id="employee-create-dialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create new Employee</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" action="#" id="create-employee-form">
              <fieldset>
                <!-- First name-->
                <div class="form-group row">
                  <label for="firstName" class="col-sm-4 col-form-label">First name</label>
                  <div class="col-sm-8">
                    <input type="text" id="firstName"  placeholder="Your first name" class="form-control" required autofocus />
                  </div>
                </div>

                <!-- Last name -->
                <div class="form-group row">
                  <label for="lastName" class="col-sm-4 col-form-label">Last name</label>
                  <div class="col-sm-8">
                    <input type="text" id="lastName" placeholder="Your last name" class="form-control" required />
                  </div>
                </div>

                <!-- Email -->
                <div class="form-group row">
                  <label for="email" class="col-sm-4 col-form-label">Email</label>
                  <div class="col-sm-8">
                    <input type="email" id="email" placeholder="Your email" class="form-control" required />
                  </div>
                </div>

                <!-- Birthday -->
                <div class="form-group row">
                  <label for="birthday" class="col-sm-4 col-form-label">Birthday</label>
                  <div class="col-sm-8">
                    <input type="date" id="birthday" min="1920-01-01" max="2040-12-31" class="form-control" />
                  </div>
                </div>

                <!-- Team name -->
                <div class="form-group row">
                  <label for="teamName" class="col-sm-4 col-form-label">Team name</label>
                  <div class="col-sm-8">
                    <input type="text" id="teamName" placeholder="Your teams name" class="form-control" required />
                  </div>
                </div>

                <!-- Career level -->
                <div class="form-group row">
                  <label for="careerLevel" class="col-sm-4 col-form-label">Career level</label>
                  <div class="col-sm-8">
                    <select id="careerLevel" class="form-control">
                      <option></option>
                      <option>Junior</option>
                      <option>Professional</option>
                      <option>Senior</option>
                      <option>Experienced Senior</option>
                    </select>
                  </div>
                </div>

                <!-- Job -->
                <div class="form-group row">
                  <label for="job" class="col-sm-4 col-form-label">Job</label>
                  <div class="col-sm-8">
                    <select id="job" class="form-control">
                      <option selected></option>
                      <option>Java Developer</option>
                      <option>QA Engineer</option>
                      <option>Product Manager</option>
                    </select>
                  </div>
                </div>

              </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" id="create-employee-button">Create</button>
            <button type="button" class="btn btn-danger btn-sm" id="cancel-create-employee-button" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div data-th-replace="fragments/footer :: copy"></div>

  <script>

    /**
     * Load all employees on load or reload
     */
    $(document).ready(function () {
        requestEmployeesFromServer();
        $("#create-employee-button").button().on("click", createEmployee);
        $("#cancel-create-employee-button").button().on("click", resetEmployeeForm);
    });

    const resetEmployeeForm = function () {
        document.getElementById("create-employee-form").reset();
    };

    /**
     * Request employees from REST endpoint via AJAX.
     */
    const requestEmployeesFromServer = function () {
        $.getJSON("/rest/v1/employees", function (json) {
            clearHtmlTable();
            jQuery.each(json, function (i, employee) {
                appendToHtmlTable(employee);
            });
        });
    };

    /**
     * Removes all tr elements from the employee table body.
     */
    const clearHtmlTable = function () {
        $("#employee-data tr").remove();
    };

    /**
     * Append an employee json node to html table.
     * @param employee.name         the name
     * @param employee.email        the email address
     * @param employee.birthday     the birthday as YYYY-MM-DD
     * @param employee.teamName     the name of the development team
     * @param employee.levelAndJob  the career level and job of the employee
     * @param employee.active       true if employee is still active, false otherwise
     * @param employee.editUrl      the URL to edit the data of the employee
     * @param employee.deleteUrl    the URL to edit the delete the employee
     */
    const appendToHtmlTable = function (employee) {
        // Find a <table> element with id="employee-table"
        const table = document.getElementById("employee-data");

        // Create an empty <tr> element and add it to the last position of the table
        const row = table.insertRow(-1);
        // Todo danielw: add id value

        // Insert new cells (<td> elements)
        row.insertCell(0).innerText = employee.name;
        row.insertCell(1).innerText = employee.email;
        row.insertCell(2).innerText = employee.birthday;
        row.insertCell(3).innerText = employee.teamName;
        row.insertCell(4).innerText = employee.levelAndJob;

        if (employee.active) {
            row.insertCell(5).innerHTML = '<span class="badge badge-success">Active</span>';
        } else {
            row.insertCell(5).innerHTML = '<span class="badge badge-secondary">Inactive</span>';
        }

        row.insertCell(6).innerHTML = '<a href="' + employee.editUrl + '"><i class="material-icons table-action-icon">edit</i></a>' +
                                      '<a href="' + employee.deleteUrl + '"><i class="material-icons table-action-icon">delete</i></a>';
    };

    const createEmployee = function () {
        sendEmployeeCreateRequest();
        resetEmployeeForm();
        $('#employee-create-dialog').modal('hide');
    };

    /**
     * Create a new employee on the server.
     */
    const sendEmployeeCreateRequest = function () {
        const employee = {
            firstName: $("#firstName").val(),
            lastName: $("#lastName").val(),
            email: $("#email").val(),
            birthday: $("#birthday").val(),
            teamName: $("#teamName").val(),
            active: true,
            job: $("#job").val(),
            careerLevel: $("#careerLevel").val()
        };

        const successCallback = function () {
            requestEmployeesFromServer();
        };

        $.post({
            url: '/rest/v1/employees',
            data: JSON.stringify(employee),
            type: 'POST',
            contentType: 'application/json',
            success: successCallback
        });
    };

  </script>
  </body>
</html>
