<!doctype html>
<html lang="en">
  <head data-th-replace="fragments/header :: copy">
    <title></title>
  </head>
  <body>
  <nav data-th-replace="fragments/navigation :: copy"></nav>

  <div class="container">
    <h1>Employees (JavaScript)</h1>
    <button type="button" class="btn btn-primary">New Employee</button>
    <table id="employee-table" class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">eMail</th>
        <th scope="col">Date of birth</th>
        <th scope="col">Team</th>
        <th scope="col">Job</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody id="employee-data">
      </tbody>
    </table>
  </div>
  <div data-th-replace="fragments/footer :: copy"></div>
  <script>

      /**
       * @param employee.name         the name
       * @param employee.email        the email address
       * @param employee.birthday     the birthday as YYYY-MM-DD
       * @param employee.teamName     the name of the development team
       * @param employee.levelAndJob  the career level and job of the employee
       * @param employee.active       true if employee is still active, false otherwise
       * @param employee.editUrl      the URL to edit the data of the employee
       * @param employee.deleteUrl    the URL to edit the delete the employee
       */
      const appendEmployee = function (employee) {
          // Find a <table> element with id="employee-table"
          const table = document.getElementById("employee-data");

          // Create an empty <tr> element and add it to the last position of the table
          const row = table.insertRow(-1);
          // Todo danielw: add id value

          // Insert new cells (<td> elements)
          row.insertCell(0).innerText = employee.name;
          row.insertCell(1).innerText = employee.email;
          row.insertCell(2).innerText = employee.birthday;
          row.insertCell(3).innerText = employee.teamName;
          row.insertCell(4).innerText = employee.levelAndJob;

          if (employee.active) {
              row.insertCell(5).innerHTML = '<span class="badge badge-success">Active</span>';
          } else {
              row.insertCell(5).innerHTML = '<span class="badge badge-secondary">Inactive</span>';
          }

          row.insertCell(6).innerHTML = '<a href="' + employee.editUrl + '"><i class="material-icons table-action-icon">edit</i></a>' +
                                        '<a href="' + employee.deleteUrl + '"><i class="material-icons table-action-icon">delete</i></a>';
      };

      $(document).ready(function () {

        $.ajax({
            url: "/rest/v1/employees",
            type: "GET",
            dataType: "json"
        })
          .done(function (json) {
              console.debug(json);
              jQuery.each(json, function (i, employee) {
                  appendEmployee(employee);
              });
          })
          .fail(function (xhr, status, errorThrown) {
              alert( "Sorry, there was a problem!" );
              console.log( "Error: " + errorThrown );
              console.log( "Status: " + status );
              console.dir( xhr );
          })
          .always(function (xhr, status) {
              // alert("The request is complete!" + xhr + " " + status)
          })
    });
  </script>
  </body>
</html>
